/* General styles */
.chat-button,
.close-button,
.send-button {
  cursor: pointer;
}

#chat-body{
  --primary-color: #9F23FF;
  --secondary-color: #fff;
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Roboto', sans-serif;
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 1.5;
 
}

/* Chat button styles */
.chat-button {
  position: fixed;
  bottom: 25px;
  /* right: 30px; */
  left: 30px;

  z-index: 1000;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.chat-button:hover{
  transition: transform 0.16s linear 0s, opacity 0.08s linear 0s;
  transform: scale(1.1);
}
.chat-button:active{
  transition: transform 0.16s linear 0s, opacity 0.08s linear 0s;
  transform: scale(0.9);
}


.chat-icon-open {
  animation-fill-mode: forwards;
  animation-name: rotate-icon;
   animation-duration: 0.4s;
  transform: rotate(90deg);
}

.chat-icon-closed {
  /* Add animation to scale up when class is added */
  animation-name: icon-scale-up;
  animation-duration: 0.6s;
  animation-fill-mode: backwards;

}

@keyframes icon-scale-up {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  33% {
    opacity: 0.5;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes rotate-icon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}


.hiden{
  display: none;
}
/* Chat box styles */
.chat-box {
  position: fixed;
  bottom: 90px;
  /* right: 30px; */
  left: 45px;
  z-index: 1001;
  width: 90%;
  min-height: 500px;
  max-width: 360px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  max-height:60vh;
  overflow-y: auto;
}

.chat-box.hidden {
  display: none;
}

.chat-header {
  padding: 10px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.close-button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: #fff;
}

.chat-messages {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
}

.chat-input-container {
  width: 100%;
	border-top: 1px solid #ddd
  /* padding: 10px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.chat-input {
  width:80%;
  height: 100%;
  outline: none;
  padding: 10px ;
  font-size: 14px;
  line-height: 20px;
  word-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
  resize: none;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 60px;
  max-height: 148px;
  border: none;
  background: rgba(0,0,0,0);
  -webkit-overflow-scrolling: touch;
  color: #333;
}
.chat-input:focus {
  outline: none;
}

.send-button {
  height: 100%;
  background: transparent;
  color: #666;
  border: none;
  outline: none;
}




.send-button-icon:hover{
  transition: transform 0.16s linear 0s, opacity 0.08s linear 0s;
  transform: scale(1.1);
}
.send-button-icon:active{
  transition: transform 0.16s linear 0s, opacity 0.08s linear 0s;
  transform: scale(0.9);
}


.chat-messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.chat-message {
  padding: 5px;
  
}
.message-bubble {
  display: flex;
  padding: 15px;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  border-radius: 10px;
  margin-bottom: 10px;
}

.chat-message .message-bubble {
  min-width: 150px;
  max-width: 80%;
}

.message-user .message-bubble {
  margin-left: auto;
  background-color: var(--primary-color);
  color: #fafafa;
}

.message-incoming .message-bubble {
  background-color: #F9F1FF;
  color: #000;
}

.message-error .message-bubble {
  background-color: #FF9090;
  color: #000;
}

.message-content {
  width: 100%;
  flex-grow: 1;
  height: 100%;
}
.message-time-container{
  /* display: flex; */
  position: relative;
  min-height: 20px;
  height: 100%;
}
.message-incoming .message-time {
  color: black;
}

.message-time {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 12px;
  font-weight: 600;
  color: #d0d0d0;
}

@media (max-width: 768px) {
  .chat-button {
    width: 50px;
    height: 50px;
    font-size: 16px;
  }
}
